* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font: 20px Roboto;
	overflow: hidden;
}

#background {
	position:fixed;
	background-size: 3% 3%;
	width: 800%;
	height: 800%;
	top: 0;
	left: 0;
	z-index: -1;
	filter: brightness(5%);
	transition:3s;
	width:100%;
	height: 100%;
	
	background-size: 100% 100%;
	background-position: center;
}

#openGames {
	position:absolute;
	color:white;
	top:20px;
	right:1vw;
	width:120px;
	font-size:20px;
	cursor: url('cursor.png'), auto;
	z-index:99999;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	padding: 10px 10px 10px 10px;
	text-align:center;
	filter:brightness(60%);
}

#openGames:hover {
	width:130px;
	filter:brightness(100%);
}

#closeGames {
	position:absolute;
	color:white;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	font-size:20px;
	font-size:18px;
	transition:0.5s;
	cursor: url('cursor.png'), auto;
	z-index:99999;
	filter:brightness(60%);
}

#closeGames:hover {
	filter:brightness(100%);
}

.gameLink {
	position:absolute;
	color:white;
	top:50%;
	width:160px;
	padding-top:15px;
	padding-bottom:15px;
	-webkit-transform: translate(0,-50%);
	text-align: center;
	z-index:99999;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	transition: 0.5s;
	filter:brightness(60%);
}

.gameLink:hover {
	width:180px;
	filter:brightness(100%);
}

#shopButton{
	position:absolute;
	color:white;
	top:80px;
	width:100px;
	right:1vw;
	font-size:20px;
	cursor: pointer;
	z-index:99999;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	padding: 10px 10px 10px 10px;
	text-align:center;
	filter:brightness(60%);
}

#shopButton:hover {
	width:110px;
	filter:brightness(100%);
}

.shop {
    position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
	color:white;
	top:50%;
	width:250px;
	height:75px;
	text-align: center;
	z-index:99999;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	transition: 0.2s;
	filter:brightness(60%);
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
	padding-bottom:0px;
}

.shop:hover {
	width:260px;
	filter:brightness(100%);
	cursor: pointer;
	height:85px;
}

.shop:active {
	width:250px;
	filter:brightness(100%);
	cursor: pointer;
	height:75px;
}

#shopCoins {
    position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
	color:white;
	top:50%;
	width:350px;
	height:100px;
	text-align: center;
	z-index:99999;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	transition: 0.2s;
	filter:brightness(60%);
    margin: auto;
    left: 0;
    right: 0;
}

#shopClose {
    position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
	color:white;
	top:50%;
	width:150px;
	height:50px;
	text-align: center;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	transition: 0.2s;
	filter:brightness(60%);
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
	padding-bottom:0px;
}

#shopClose:hover {
	width:155px;
	filter:brightness(100%);
	cursor:pointer;
	height:55px;
}

#shopClose:active {
	width:150px;
	filter:brightness(100%);
	cursor: pointer;
	height:50px;
}

#deleteSave {
    position: fixed;
	display:flex;
	align-items: center;
	justify-content: center;
	color:white;
	width:110px;
	height:35px;
	text-align: center;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	transition: 0.2s;
	filter:brightness(60%);
	bottom:10px;
	right: 10px;
}

#deleteSave:hover {
	width:115px;
	filter:brightness(100%);
	cursor:pointer;
	height:40px;
}

#deleteSave:active {
	width:110px;
	filter:brightness(100%);
	cursor: pointer;
	height:50px;
}

#player {
	position: fixed;
	top: 600px;
	width: 3px;
	height: 0px;
	padding-top: 50px;
}

.block {
	position: fixed;
	padding-top: 10px;
	width: 73px;
	border-style: solid;
	border-width: 2px;
}

#coin {
	position: fixed;
	padding-top: 10px;
}