* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font: 20px Roboto;
	overflow: hidden;
}

#background {
	position:fixed;
	width: 800%;
	height: 800%;
	top: 0;
	left: 0;
	z-index: -1;
	width:100%;
	height: 100%;
	transition:3s;
	
	background-size: 100% 100%;
	background-position: 50% -200px;
	background-repeat: no-repeat;
}

#player {
	position: fixed;
	top: 600px;
	width: 3px;
	height: 0px;
	padding-top: 50px;
}

.block {
	position: fixed;
	padding-top: 10px;
	width: 73px;
	border-style: solid;
	border-width: 2px;
}

#coin {
	position: fixed;
	padding-top: 10px;
}

/*buttons*/

.button {
    position: absolute;
	display:flex;
	align-items: center;
	justify-content: center;
	color:white;
	text-align: center;
	z-index:99999;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	transition: 0.2s;
	filter:brightness(60%);
	padding-bottom:0px;
}

.button:hover {
	filter:brightness(100%);
	cursor: pointer;
}

.button:active {
	filter:brightness(100%);
	cursor: pointer;
}

#openGames {
	top:20px;
	right:1vw;
	width:120px;
	font-size:20px;
	cursor: url('cursor.png'), auto;
	padding: 10px 10px 10px 10px;
}

#openGames:hover {
	width:130px;
}

#closeGames {
	position:absolute;
	color:white;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	font-size:20px;
	font-size:18px;
	transition:0.5s;
	cursor: pointer;
	z-index:99999;
	filter:brightness(60%);
}

#closeGames:hover {
	filter:brightness(100%);
}

#game1,#game2 {
	top:50%;
	width:160px;
	padding-top:15px;
	padding-bottom:15px;
	-webkit-transform: translate(0,-50%);
	transition: 0.5s;
}

#game1:hover ,#game2:hover {
	width:180px;
}

#shopButton{
	top:80px;
	width:100px;
	right:1vw;
	padding: 10px 10px 10px 10px;
}

#shopButton:hover {
	width:110px;
}

#shop1,#shop2 {
	width:270px;
	height:75px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

#shop1:hover,#shop2:hover {
	width:280px;
	height:85px;
}

#shop1:active,#shop2:active {
	width:270px;
	height:75px;
}

#shopCoins {
	width:350px;
	height:100px;
    margin: auto;
    left: 0;
    right: 0;
}

#shopClose {
	width:150px;
	height:50px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

#shopClose:hover {
	width:155px;
	height:55px;
}

#shopClose:active {
	width:150px;
	height:50px;
}

#deleteSave {
	width:110px;
	height:35px;
	bottom:10px;
	right: 10px;
}

#deleteSave:hover {
	width:115px;
	height:40px;
}

#deleteSave:active {
	width:110px;
	height:50px;
}

/*end of buttons*/